slim/index.slim
<!DOCTYPE html>
html lang="en"
head
  meta charset="UTF-8"
  meta name="viewport" content="width=device-width, initial-scale=1.0"
  title BarCamp Cyberjaya 2016
  link rel="shortcut icon" href="/favicon.ico"
  link rel="stylesheet" href="stylesheets/app.css"
  link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css"
  include _opengraph.slim
  include _event_rich_snippet.slim
  / Google Analytics
  javascript:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66076187-3', 'auto');
    ga('send', 'pageview');
body

  .container-fluid.hero
    .row: .small-12.columns: .container.hero-texts
      .cushion
      .row
        .small-12.columns.text-center
          img[src="/img/full-logo-760.png" width=760 alt="Barcamp Cyberjaya Logo"]
      .cushion
      .row
        .small-12.columns
          h4.text-center
            |  3rd December 2016
          h4.text-center
            |  MMU Cyberjaya
      .row: .small-12.columns
        / p
        / a.hero-button[target="_blank" alt="Pledge pledge pledge!" href="https://docs.google.com/forms/d/e/1FAIpQLScUyg41EU990oZNg5Fhgc-e3izQgDY6DZVaU9L1X0WokSZ5nw/viewform"] I want to give a talk!
        / p
        / a.hero-button[target="_blank" href="https://docs.google.com/spreadsheets/d/15gR6Hjz0W96x2_6Cg-GB9PSOoomv7AxTdZhpcjwa668/pubhtml?gid=1301993219&single=true"] Who are giving what talks?
        p
        a.hero-button[href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRN-EOi_zUvegjNt7A1f8q9npj5wuy4Htd8MD2El17OWrylJ2aIKRSvG31TwtjH_nfHwNM1rHfqkubZ/pubhtml?gid=0&single=true"] TALKS SCHEDULE
        p
        a.hero-button[target="_blank" href="http://www.eventbrite.com/e/barcamp-cyberjaya-2016-tickets-27883767098?aff=homepage"] Register on Eventbrite
      .cushion
  
  .cushion
  .container
    include _ongoing.slim
    / include _photos.slim
    / .cushion
    / include _what-is-barcamp.slim
    / .cushion
    / include _getting-there.slim
    / .cushion
    / include _faq.slim
    .cushion
    include _sponsors.slim
    .cushion
    include _footer.slim


    .footer

  erb:
    <!-- Live Chat Widget powered by https://keyreply.com/chat/ -->
    <!-- Advanced options: -->
    <!-- data-align="left" -->
    <!-- data-overlay="true" -->
    <script data-align="right" data-overlay="false" id="keyreply-script" src="//keyreply.com/chat/widget.js" data-color="#3F51B5" data-apps="JTdCJTIydGVsZWdyYW0lMjI6JTIyYW5vbm96JTIyLCUyMmZhY2Vib29rJTIyOiUyMmFub25veiUyMiwlMjJlbWFpbCUyMjolMjJpdHNvYy5tbXVAZ21haWwuY29tJTIyJTdE"></script>

index.html
<!DOCTYPE html><html lang="en"></html><head><meta charset="UTF-8"><meta content="width=device-width, initial-scale=1.0" name="viewport"><title>BarCamp Cyberjaya 2016</title><link href="/favicon.ico" rel="shortcut icon"><link href="stylesheets/app.css" rel="stylesheet"><link href="/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet"><meta content="BarCamp Cyberjaya 2016" property="og:title"><meta content="https://www.barcampcyberjaya.org/" property="og:url"><meta content="https://www.barcampcyberjaya.org/img/opengraph.jpg" property="og:image"><meta content="BarCamp is a user-generated unconference focused around technology. They are open, participatory workshop-events, the content of which is provided by participants. Happening on 3rd Dec 2016." property="og:description"><script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "BarCamp Cyberjaya 2016",
  "startDate" : "2015-12-03T09:00+0800",
  "endDate" : "2015-12-03T18:00+0800",
  "url" : "https://www.barcampcyberjaya.org/",
  "location" : {
    "@type" : "Place",
    "sameAs" : "http://fci.mmu.edu.my",
    "name" : "Faculty of Computing & Informatics",
    "address" : "Multimedia University, Persiaran Multimedia, 63100 Cyberjaya, Selangor"
  },
  "description": "Unconference that focuses on technology, programming, and entrepreneurship.",
  "image": "https://www.barcampcyberjaya.org/img/opengraph.jpg"
}</script><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-66076187-3', 'auto');
ga('send', 'pageview');</script></head><body><div class="container-fluid hero"><div class="row"><div class="small-12 columns"><div class="container hero-texts"><div class="cushion"></div><div class="row"><div class="small-12 columns text-center"><img alt="Barcamp Cyberjaya Logo" src="/img/full-logo-760.png" width="760"></div></div><div class="cushion"></div><div class="row"><div class="small-12 columns"><h4 class="text-center"> 3rd December 2016</h4><h4 class="text-center"> MMU Cyberjaya</h4></div></div><div class="row"><div class="small-12 columns"><p></p><a class="hero-button" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRN-EOi_zUvegjNt7A1f8q9npj5wuy4Htd8MD2El17OWrylJ2aIKRSvG31TwtjH_nfHwNM1rHfqkubZ/pubhtml?gid=0&amp;single=true">TALKS SCHEDULE</a><p></p><a class="hero-button" href="http://www.eventbrite.com/e/barcamp-cyberjaya-2016-tickets-27883767098?aff=homepage" target="_blank">Register on Eventbrite</a></div></div><div class="cushion"></div></div></div></div></div><div class="cushion"></div><div class="container"><div class="row"><div class="small-12 columns"><h2>Campus Map</h2><div class="container"><div class="row"><div class="small-12 large-4 columns"><a href="https://drive.google.com/open?id=1MSCuT4mATF6q9MSV6A5_U0MHJQA&amp;usp=sharing"><img src="/img/campus-map.png"></a><p><i>Click to open in Google Maps</i></p></div><div class="small-12 large-8 columns"><p><b>Multipurpose Hall</b> - Registration, sessions generation, lunch.</p><p><b>Breakout rooms</b> - We will use rooms in 2nd and 3rd floor of the faculty's block C. Follow the crowd!</p><p><b>Surau</b> - Faculty's 3rd floor and 4th floor. Just take the lift up, once you exit the lift, take a right u-turn for the suraus.</p><p><b>Toilets</b> - They are near the lift.</p><p><b>7-Eleven</b> - Just in case you got something to buy, it is not included in this tiny map. You will need to go down to Central Food Court.</p></div></div></div></div><div class="small-12 columns"><h2>Get Help</h2><p><b>If you lost or found something</b>, please approach our volunteer, we will help you out.</p></div><div class="small-12 columns"><h2>WiFi</h2><p>Use <b>Open WiFi</b> provided by MMU (can be slow).</p><p>Speakers, if you need fast connection for streaming, click the chat button to get the wifi password.</p></div></div><div class="cushion"></div><hr><div class="row"><div class="small-12 columns sponsors"><h2>We Thank Our Sponsors</h2><ul class="small-block-grid-2 medium-block-grid-4"><li><a href="https://www.hilti.com" target="_blank"><img src="img/sponsors/hilti.png"></a></li><li><a href="http://www.seekasia.com" target="_blank"><img src="img/sponsors/seek.png"></a></li><li><a href="http://www.werebits.com" target="_blank"><img src="img/sponsors/werebits.png"></a></li><li><a href="http://tribehired.com" target="_blank"><img src="img/sponsors/tribehired.png"></a></li></ul></div></div><div class="cushion"></div><hr><div class="row"><div class="small-12 columns"><footer><p class="text-center">Organised by <a href="https://www.itsociety.rocks" target="_blank">IT Society</a></p></footer></div></div><div class="footer"></div></div><!-- Live Chat Widget powered by https://keyreply.com/chat/ -->
<!-- Advanced options: -->
<!-- data-align="left" -->
<!-- data-overlay="true" -->
<script data-align="right" data-overlay="false" id="keyreply-script" src="//keyreply.com/chat/widget.js" data-color="#3F51B5" data-apps="JTdCJTIydGVsZWdyYW0lMjI6JTIyYW5vbm96JTIyLCUyMmZhY2Vib29rJTIyOiUyMmFub25veiUyMiwlMjJlbWFpbCUyMjolMjJpdHNvYy5tbXVAZ21haWwuY29tJTIyJTdE"></script></body>
